@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');

.malo {
  background-image: url("../img/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10%;
  padding-top: 100px;
  font-weight: normal!important;
  text-align: center;
}
.maco {
  background-color: transparent;
  text-align: center;
  font-weight: normal!important;
}
.later {
  background-image: url("../backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  margin-left: 10%;
  padding-top: 100px;
  text-align: center;
  font-weight: normal!important;
  color: antiquewhite;
}
.magical {
  text-align:center ;
}
.taller {
  text-align: center;
}
.jimbo {
  text-align: center;
}
.juice {
  text-align: center;
}
.biscuit {
  text-align: center;
  background-image: url("../backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10%;
  padding-top: 100px;
}
.headings {
  text-align: center;
}
.container {
  text-align: center;
}

