@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');

.malo {
  background-image: url("img/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: normal!important;
  text-align: center;
}
.maco {
  background-color: transparent;
  text-align: center;
  font-weight: normal!important;
}
.later {
  background-image: url("/img/backgrounds/s_img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-weight: normal!important;
}
.magical {
  text-align:center ;
}
.taller {
  text-align: center;
}
.jimbo {
  text-align: center;
}
.juice {
  text-align: center;
}
.biscuit {
  text-align: center;
  background-image: url("///home/user/Documents/Delanji/css/css/img/backgrounds/c_img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.headings {
  text-align: center;
}